@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Prompt:wght@300;500;700&display=swap");

:root {

    /* Colors */
    --background-color: ;
    --teal-color: #23dca9;
    --white-color: #fff;
    --black-color: #000;
    --dark-gray-color: #222;
    --gray-color: #333;
    --light-gray-color: #aaa;
}

body {
    font-family: 'Prompt', sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    background: var(--black-color);
}

section {
    position: relative;
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}

section .sign-in {
    position: absolute;
    width: 400px;
    background: var(--dark-gray-color);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

section .sign-in .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

section .sign-in .content h2 {
    font-size: 1.5em;
    color: var(--teal-color);
    text-transform: uppercase;
}

.sign-in .content .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

section .sign-in .content .form .input-box {
    position: relative;
    width: 100%;
}

section .sign-in .content .form .input-box input {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    background: var(--gray-color);
    border: none;
    outline: none;
    padding: 25px 10px 7.5px;
    border-radius: 4px;
    color: var(--white-color);
    font-size: 1em;
    font-weight: 500;
}

section .sign-in .content .form .input-box label {
    position: absolute;
    top: 15px; 
    left: 10px; 
    font-style: normal;
    font-size: 0.875em; 
    color: var(--light-gray-color);
    transition: .5s;
    pointer-events: none;
}

.sign-in .content .form .input-box input:focus ~ label,
.sign-in .content .form .input-box input:valid ~ label {
    transform: translatey(-7.5px);
    font-size: 0.8em;    
    color: var(--white-color);
}

.sign-in .content .form .links {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.sign-in .content .form .links a {
    color: #aaa;
    font-size: 15px;
    text-decoration: none;
}

.sign-in .content .form .links a:hover {
    text-decoration: underline;
}

.sign-in .content .form .links a:nth-child(2) {
    color: var(--teal-color);
}

.sign-in .content .form .input-box input[type="submit"] {
    padding: 10px;
    color: var(--black-color);
    background: var(--teal-color);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    cursor: pointer;
}